body{
    font-family: 'Luxurious Roman', serif;


}


nav{
    background-color: #1eb5d3;
    color: white;
    padding: 20px 50px;
    margin: 0;

}

@media only screen and (max-width: 768px) {

    nav{
        padding-top: 20px;

    }

    .menu-icon {
        display:block;
        text-align: left;
        padding: 10px;
        cursor: pointer;
    }
    

    nav a {
        display: none;
        clear: both;
        width: 100%;
    }

    nav.show {
        max-height: 300px;

    }

    nav.show a {
        display:block;
    }
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
